<?xml version="1.0" encoding="utf-8"?>

<!--
     SPDX-FileCopyrightText: 2026 kenway214
     SPDX-License-Identifier: Apache-2.0
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.touchservices"
    android:versionCode="1"
    android:versionName="1.0"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <uses-sdk
        android:minSdkVersion="33"
        android:targetSdkVersion="35" />

    <application
        android:label="@string/app_title"
        android:icon="@drawable/ic_touch_sampling_tile"
        android:persistent="true"
        android:defaultToDeviceProtectedStorage="true"
        android:directBootAware="true"
        android:theme="@style/Theme.SubSettingsBase.Expressive">

        <receiver
            android:name=".BootCompletedReceiver"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service
            android:name=".TouchSamplingService"
            android:exported="false" />

        <service
            android:name=".TouchSamplingTileService"
            android:exported="true"
            android:icon="@drawable/ic_touch_sampling_tile"
            android:label="@string/touch_sampling_title"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <activity
            android:name=".TouchSamplingActivity"
            android:label="@string/touch_sampling_title"
            android:theme="@style/Theme.SubSettingsBase.Expressive"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.display" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/touch_sampling_summary" />
        </activity>

    </application>
</manifest>
